




<div class="div-centered form-centered">
	<h3>Signup!</h3>

	<form role="form" action="/signup" method="POST" id="signup-form">
		<div class="form-group">
			<label for="userName">Username</label>
			<input type="text" class="form-control" name="user[name]" placeholder="Enter username (no spaces)">
		</div>

		<div class="form-group">
			<label for="userEmail">Email Address</label>
			<input type="email" class="form-control" name="user[email]" placeholder="Enter email">
		</div>

		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" class="form-control" name="user[password]" placeholder="Password">
		</div>

		<div class="form-group">
			<label for="password">Confirm Password</label>
			<input type="password" class="form-control" placeholder="Re-enter Password">
		</div>


		<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
		<a class="btn btn-primary" id="signup-submit">Submit</a>
		<label class="error-message"></label>
	</form>
</div>

