.div-centered {
	margin:150px auto;
}

.form-centered {
	width:350px;
}

.text-centered {
	text-align: center;
}

.margin-bottom-30 {
	margin-bottom:30px;
}

.dashboard-report {
	margin-top:20px;
	float:left;
	width:100%;
}

.date-ranges {
	margin-top:20px;
}

/*div {
	border:1px solid silver;
}*/